<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css" />
    <title>Tailwind CLI</title>
</head>
<body>
    <div class="w-full h-screen p-12 dara">
        <div class="prose prose-lg">
            <h1>Hello, My name is Dara.</h1>
            <p>
                Hello, My name is Dara TOUCH. I have 3 siblings, My sister Channy UM was born on 1989 and Phearum TOUCH was born on 1992. I married to Sereyphal NEAK on 21 April 2018 and we have 2 sons, SereyRithiPich DARA was born on 19 July 2019 and PichSereyBoth DARA was born on 22 April 2022.
                I really like coding since I am in secondary school, But family status cannot afford my education I love........
            </p>
            <p>
                Don't talk anymore, Keep silence is the best way to solve the problems....
            </p>
        </div><br>
        <div class="mt-12">
            <a href="#" class="text-white rounded-md py-3 px-8 bg-sky-500 shadow-md hover:bg-sky-700">Follow me on Twitter</a> 
        </div>
    </div>
</body>
</html>